* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  height: 95vh;
  font-weight: 400;
  padding: 3rem;
  background-color: rgb(17, 0, 252);
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-side {
  background-color: #eee;
  width: 60%;
  height: 80%;
  border-radius: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.paragraph {
  font-size: 4rem;
  font-weight: 300;
  color: lawngreen;
  font-family: cursive;
  align-items: center;
  justify-items: center;
  padding: 2rem;
}
.score {
  width: 40%;
  height: 4rem;
  font-family: arial;
  text-align: center;
  border-radius: 1rem;
  color: blue;
  align-self: center;
}
.score:focus {
  color: black;
}
#reload {
  transform: translateX(-1.5rem);
  margin-top: 1rem;
}
.btn {
  color: lawngreen;
  padding: 1rem 3rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: inline-block;
  font-family: cursive;
  font-weight: 500;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
.btn:focus {
  outline: none;
}
.new-background {
  background-color: white;
}
.score-box {
  font-family: cursive;
  font-size: 3rem;
  color: lawngreen;
}
.highscore-box {
  font-family: cursive;
  font-size: 3rem;
  color: lawngreen;
}
.player-wins {
  font-family: fantasy;
  animation-name: winner;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
}
@keyframes winner {
  30% {
    background-color: rgba(255, 0, 0, 0.6);
  }
  60% {
    background-color: rgba(12, 200, 82, 0.8);
  }
  100% {
    background-color: white;
  }
}
.hidden {
  display: none;
}
.error {
  background-color: red;
}
.vibrate {
  animation-name: shake;
  animation-iteration-count: 2;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
}
@keyframes shake {
  0% {
    color: whitesmoke;
    transform: translateX(-1rem);
  }
  50% {
    color: whitesmoke;
    transform: translateX(3.5rem);
  }
  100% {
    color: whitesmoke;
    transform: translateX(0);
  }
}
.white {
  color: whitesmoke;
}
.red {
  color: red;
}
.player--loser {
  animation-name: loser;
  animation-duration: 2s;
  animation-iteration-count: 3;
}
@keyframes loser {
  0% {
    background-color: red;
  }
  20% {
    background-color: white;
  }
  40% {
    background-color: red;
  }
  60% {
    background-color: white;
  }
  80% {
    background-color: red;
  }
  100% {
    background-color: white;
  }
}
.text-color-change {
  animation-name: rainbow;
  animation-duration: 2s;
  animation-iteration-count: 3;
}
@keyframes rainbow {
  0% {
    color: white;
  }
  20% {
    color: red;
  }
  40% {
    color: white;
  }
  60% {
    color: red;
  }
  80% {
    color: white;
  }
  100% {
    color: red;
  }
}
.box {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
